<p>
  <div class="button">
  <%= link_to 'Новый пост', new_post_path %>
  </div>
  </p>
<div>
  <%@posts.each do |post|%>
  <hr>
  <div class="grid-container">
    <div class="grid-item"><b><%=post.title%></b></div>
    <div class="grid-item"><%= post.body %></div>
    <div class="grid-item">User:<%= post.user&.login %><p><%= l(post.created_at, format: :long) %></p><p class="button"><%= link_to 'Подробнее', post %></p></div>
  </div>
  </div>
<%end%>
<hr>
<div class="button">
  <%= link_to 'Новый пост', new_post_path %>
  </div>
